@page "/cadastro-roupas"

<div class="d-flex justify-content-center align-items-center vh-100 bg-dark">
    <div class="form-container text-white p-4 rounded">
        <h4 class="text-center mb-4">Cadastro de peças:</h4>

        <div class="mb-3">
            <label class="form-label">Tamanho</label>
            <select class="form-select">
                <option selected disabled>Selecione o tamanho...</option>
                <option>P</option>
                <option>M</option>
                <option>G</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Gênero</label>
            <select class="form-select">
                <option selected disabled>Selecione o gênero...</option>
                <option>Masculino</option>
                <option>Feminino</option>
                <option>Unissex</option>
            </select>
        </div>

        <div class="mb-4">
            <label class="form-label">Estação</label>
            <select class="form-select">
                <option selected disabled>Selecione a estação...</option>
                <option>Verão</option>
                <option>Inverno</option>
                <option>Meia estação</option>
            </select>
        </div>

        <div class="text-center">
            <button class="btn btn-primary px-4">Cadastrar</button>
        </div>
    </div>
</div>
